@import './base/_base';
@import './secciones/_header';
@import './secciones/_footer';
@import './secciones/video-port';
@import './agregados/_contact';
@import './agregados/_eventos';
@import './agregados/_nosotros';
@import './agregados/_servicios';
@import './agregados/_opiniones';

.opox1 {
    background-image: url();

}

.opox2 {
    background-image: url(../secciones/images/opi-merme.jpg);

}

.opox3 {
    background-image: url(../secciones/images/opi-panes.jpg);

}

.opox4 {
    background-image: url(../secciones/images/opi-pinchos.jpg);

}

.opox5 {
    background-image: url(../secciones/images/opi-pizza.jpg);

}

.opox6 {
    background-image: url(../secciones/images/opi-tapas.jpg);

    
}



