/*seccion contacto*/
.form-all {
    height: max-content;
    margin-top: 30px;
    border-radius: 0 0 15% 15%;
}

.form-group {
    margin-top: 3%;
    margin-bottom: 3%;

    .cuadrotxt {
        width: 100%;
        height: 150px;
    }
}

.contact-form {
    background-image: url(../secciones/images/c-fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;

    form {
        width: 70%;
        background-color: rgba(30, 30, 30, .9)
    }
}

.form-control {
    border-radius: 1rem;
}

.contacto-titulo {
    text-align: center;
    color: $color1;
    padding-top: 7px;
}

.btn-pos {
    text-align: center;

    .btnContact {
        width: 50%;
        border: none;
        border-radius: 1rem;
        padding: 1.5%;
        background: $color2;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }
}

.c-img-box {
    justify-content: space-around;
    margin: 2px;

    .c-img {
        min-width: 150px;
        max-width: 250px;
        padding: 10px 5px;

        img {
            border-radius: 100%;

        }
    }
}


