.photo-gallery {
    color:$color1;
    background-color:$color4;
  
   h3 {
    font-weight:bold;
    margin-bottom:18px;
    padding-top:18px;
    color:inherit;
    border-top: 4px solid $color5;
  }
}
/*
@media (max-width:767px) {
  .photo-gallery h3 {
    margin-bottom:15px;
    padding-top:18px;
    font-size:24px;
  }
}*/

.photo-gallery .intro {
  font-size:16px;
  max-width:700px;
  margin:0 auto 10px;
  p {
    margin-bottom:0;
    text-align: center;
  }

}

.photo-gallery .photos {
  padding-bottom:20px;

}

.photo-gallery .item {

  padding: 5px !important;
}
