
.somos {
   
    padding: 15px 20px;
    text-align: center;
    p {
        color: $color1;
        padding-top: 30px;
        font-size: 20px;
    }
}
#frase {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}