port-serv {
    justify-content: center;
    
}
.videoface {
    text-align: center;
    width: max-content;

    iframe {
        border: none;
        overflow: hidden;
        border: 3px solid $color2;
        border-radius: 15px;
    }
    
}
a {text-decoration: none;}


.textoserv {
    width: 75%;
    color: $color1;
    font-size: 18px;
    

}

.imagenes1 {
 justify-content: center;
 align-items: center;
img {
    border-radius: 15px;
    width: 300px;
    height: auto;
    margin: 5px;
    padding: 5px;
}
}
