@media (min-width: 1200px) {
    .videoface iframe {
        height: 310px;
        width: 50%;
    }
}

@media (min-width: 1000px) and (max-width: 1199px){
    .videoface iframe {
        height: 260px;
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 999px){
    .videoface iframe {
        height: 190px;
        width: 50%;
    }
}
@media (max-width: 767px) {
    .videoface iframe {
        height: 290px;
        width: 100%;
    }
}

port-serv {
    justify-content: center;
    text-align: center;
}

.videoface {
    /*width="450" height="252"*/
    display: flex;

    iframe {
        border-radius: 35px;
        margin: 10px auto;
    }
}


.textoserv {
    color: $color1;
    font-size: 18px;
    text-align: center;
}

.img1-box {
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        border-radius: 15px;
        width: 300px;
        height: auto;
        margin: 5px;
        padding: 5px;
    }
}

.img-1 {
   
}